body{
	background: url(../images/background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin:0px;
}

/*#screen{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}*/

.oculto{
	display: none;
}


.lineSpacer{
	height:20px;
}


.clearFix {
    display: inline-block;
    height: 0em;
    width: 100%;
}

.continuo{
	white-space: nowrap;
	display: inline-block;
}

.accion{
	padding-right: 5px;
	display:inline-block;
	cursor: pointer;
}

#identificarse-registrarse{
	float:right;
}

#menu{
	padding-bottom: 3.5em;
	font-size: 1em;
}

.nav-pills{
	height: 1px !important;
	padding-left:20%!important;
}

#banner-divider{
	background-color: #FF6600;
	margin-top:1.5em;
	height:0.5em;
	width: 100%;
}

.dropdown-toggle{
	color:#FFFFFF!important;
	background-color: transparent!important;
	height:5em!important;
	padding-top: 1.7em!important;
}

.dropdown-toggle:hover{
	color:#FFFFFF!important;
	background-color: rgba(0,0,0,0.1)!important;
}

.dropdown.open{
	color:#FFFFFF!important;
	background-color: rgba(0,0,0,0.1)!important;
}

.logo{
	width: 120px; 
	height: 40px;
}

.dropdown-menu{
	background-color: #FFFFFF!important;
	margin-top: 0.4em!important;
}

.divider{
	background-color: rgba(0,0,0,0.1)!important;
	margin:0!important;
}

.dropdown-menu > li > a:hover {
    background-image: none!important;
    background-color: rgba(0,0,0,0.1)!important;
}

.navbar-fixed-top{
	background: url(../images/banner.png) no-repeat center center;
	background-size: 100%;
	background-position: center top; 
	/*height: 80px!important;*/
}