.panelCategorias{
	background-color: rgba(255,255,255,0.5);
	width:20%;
}

.panelProductos{
	background-color: rgba(255,255,255,0.5);
	width:70%;
	float:right;
}

.categoria{
	cursor:pointer;
}

.categoriaHija{
	margin-left: 2em;
}

.categoriaActiva{
	color: #FF6600;
}

.glyphicon.glyphicon-book{
	font-size: 24px;
	padding-left: 1em;
}

.glyphicon.glyphicon-book:hover{
	cursor: pointer;
}

.glyphicon.glyphicon-shopping-cart{
	margin-top:0.5em;
	font-size: 30px;
	left:0;
}

.glyphicon.glyphicon-shopping-cart{
	cursor: pointer;
}

.informacion{
	margin-top:1em;
	white-space: normal !important;
}

.detalle{
	margin-top:2em;
}

.detallado{
	white-space: normal !important;
}

#newsletter{
	font-size: 2em;
	margin-left: 5em;
}