#contenedor{
	width: 50%;
	display: inline-block;
	margin:0;
	padding:2em;
	margin-left:15%;
	background-color: rgba(0,0,0,0.2);
}

#contenedorSlider{
	width: 80%;
}


#bloque1{
	width: 100%;
	display: inline-block;
	margin:0;
	padding:0; 
	font-size: 2.3em;
}

#bloque2{
	display: inline-block;
	margin:0;
	padding:0;
	font-size: 1.5em;
}


#bloque3{
	width: 20%;
	display: inline-block;
	margin:0;
	padding:0;	
}

#bloque4{
	width: 20%;
	background-color: #FFFFFF;	
	display: inline-block;
	margin:0;
	padding:0;	
}

.galeria{
	display: inline-block;
	white-space: pre-wrap;
	padding: 0px;
	margin: 0.3em; 
}

/* unvisited link */
.galeria a:link {
    color: transparent;
}

/* visited link */
.galeria a:visited {
    color: transparent;
}

/* mouse over link */
.galeria a:hover {
    color: transparent;
}

/* selected link */
.galeria a:active {
    color: transparent;
}

.galeria-imagen{
	background-size: 500px auto;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	background-position: center center; 
}

.galeria-imagenHover{
	height: 100%;
	position: relative;
	top: -40px;	
	color:#000000;
	opacity: 0;
}

.galeria-imagenHover:hover{
	opacity: 1;
	transition: opacity 0.7s linear;
}

.hr{
	height: 0.1em;
}

.titulo{
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -30px;
	padding-left: 0.5em;
	font-size: 1.3em;
}

.descripcion{
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -60px;
	padding-left: 1em;
}

