{% extends "base.html" %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block title %}
	INICIO
{% endblock %}

{% block menu %}
	<li class="dropdown">
	  <a class="dropdown-toggle" href="./index.php?seccion=general"><font color="#{{general.color_fuente_banner}}">General</font></a>
	</li>
	<li class="dropdown">
	  <a class="dropdown-toggle" href="./index.php?seccion=nueva_categoria"><font color="#{{general.color_fuente_banner}}">Nueva Categoria</font></a>
	</li>
	<li class="dropdown">
	  <a class="dropdown-toggle" href="./index.php?seccion=gestionar_categorias"><font color="#{{general.color_fuente_banner}}">Gestionar Categorias</font></a>
	</li>
	<li class="dropdown">
	  <a class="dropdown-toggle" href="./index.php?seccion=slider"><font color="#{{general.color_fuente_banner}}">Slider</font></a>
	</li>	
	<li class="dropdown">
	  <a class="dropdown-toggle" href="./index.php?seccion=footer"><font color="#{{general.color_fuente_banner}}">Footer</font></a>
	</li>		
{% endblock %}


{% block contenido %}

{% if error %}
	<div class="alert alert-error" role="alert">
		{{ error }}
	</div>
{% endif %}

{% if success %}
	<div class="alert alert-success" role="alert">
		{{ error }}
	</div>
{% endif %}

{% endblock %}
