<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
    <head>
        {% block head %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="css/estilo.css" />
        <script type="text/javascript" src="vendor/jquery/jquery.js"></script>

        <script src="./vendor/lightbox/js/jquery-1.11.0.min.js"></script>
        <script src="./vendor/lightbox/js/lightbox.min.js"></script>
        <link href="./vendor/lightbox/css/lightbox.css" rel="stylesheet" />

        <script type="text/javascript" src="js/header.js"></script>  

        <script type="text/javascript" src="js/funciones.js"></script>  

        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <title>{% block title %}{% endblock %} - GWA</title>         
        {% endblock %}

<style>
.open > .dropdown-menu{
    background-color: rgba({{general.colorSubMenu}})!important;
}
.dropdown.open{
    background-color: rgba({{general.colorBotonHover}})!important;
}
@font-face {
    font-family: myFirstFont;
    src: url(fonts/{{general.fontFace}});
}
body {
    font-family: myFirstFont;
}
</style>
    </head>
    <body>
        {% if usuario == '' %}
            {{ include('identificarse.html') }}
        {% endif %}    
        <div id="menu">
           <!-- Fixed navbar -->
            <nav class="navbar navbar-fixed-top">
              <div class="container">
                <div class="navbar-header" style="float:{{general.float_logo}};">
                  <a class="navbar-brand" href="./index.php"><img class="logo" src="./images/logo.png"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav nav-pills">
                        {% for categoria in categorias %}                            
                            {% if categoria.hijas %}
                                <li id="{{categoria.id}}_li" class="dropdown" onmouseover="dropdown('{{categoria.id}}');">
                            {% else %}
                                <li id="{{categoria.id}}_li" class="dropdown" onmouseover="dropdownSinMenu('{{categoria.id}}');" onclick="navegar('./index.php?seccion=categorias&amp;categoria={{categoria.id}}');">
                            {% endif %}
                                <a id="{{categoria.id}}" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <font color="#{{general.color_fuente_banner}}">{{categoria.nombre}}</font>
                              </a>

                              {% if categoria.hijas %}
                              <ul id="{{categoria.id}}_menu" class="dropdown-menu" role="menu">
                              <li><div class="titulo-menu"><font color="#{{general.colorHr}}"><b>{{categoria.nombre}}</b></font></div></li>
                              {% for hija in categoria.hijas %}
                                <li class="divider"></li>
                                <li><a href="./index.php?seccion=categorias&amp;categoria={{hija.id}}"><font color="#{{general.color_fuente_banner}}">{{hija.nombre}}</font></a></li>
                              {% endfor %}
                              </ul>
                              {% endif %}
                            </li>
                        {% endfor %}
                    {% block menu %}
                    {% endblock %}
                  </ul>
                  <div id="social" class="nav navbar-nav">
                    {% if general.facebook %}
                        <div class="social-item"><a href="{{general.facebook}}" target="_blank"><img src="./images/facebook.png"></a></div>                  
                    {% endif %}
                    {% if general.twitter %}
                        <div class="social-item"><a href="{{general.twitter}}" target="_blank"><img src="./images/twitter.png"></a></div>                  
                    {% endif %}
                    {% if general.youtube %}
                        <div class="social-item"><a href="{{general.youtube}}" target="_blank"><img src="./images/youtube.png"></a></div>                  
                    {% endif %}                                  
                  </div>  
                </div>
              </div>
              <div id="banner-divider" style="background-color:#{{general.colorHr}};"></div>
              </div>

            </nav>

        </div>    

        <div id="screen">            
            <script>
                $( document ).ready(function() {    
                    {% if seccion == '' %}
                        $("#inicio").addClass("active");        
                    {% else %}
                        $("#{{ seccion }}").addClass("active");        
                    {% endif %}
                    {% if subseccion != '' %}
                        $("#{{ subseccion }}").addClass("active");        
                    {% endif %}
                });
            </script>

            <div class="clearFix"></div>

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{ error }}
                </div>
            {% endif %}
            
            <div id="contenido">
                {% if saludo %}
                    <div class="alert alert-success" role="alert">
                        {{ saludo }}
                    </div>
                {% endif %}
                
                {% block contenido %}
                {% endblock %}
            </div>

            <div id="loading" class="oculto">
            </div>


                <ul id="identificarse-registrarse" class="nav navbar-nav">
                    {% if usuario == '' %}
                        <li id="identificarse"><a id="modalIdentificarse" type="button" href="#" data-toggle="modal" data-target="#formIdentificarse"><span class="glyphicon glyphicon-cog identificar" aria-hidden="true"></span></a></li>
                    {% else %}
                        <li id="identificarse"><a href="./index.php?seccion=salir">Salir</a></li>         
                    {% endif %}                  
                  </ul>                  
            </div>
        </div>



            {% if footer.background %}
                <div id="footer" class="fondoFooter">
            {% else %}
                <div id="footer">
            {% endif %}
                {% block footer %}
                    
                    <table id="tablaFooter" border="0">
                    <tr>
                        <td valign="top">
                            {% if footer.texto1 %}
                            <div class="footerTexto" style="color:{{footer.colorFuente}}">{{footer.texto1|nl2br}}</div>
                            {% endif %}
                            {% if footer.link1 %}
                                <a href="{{footer.link1}}" target="_blank">
                            {% endif %}
                            {% if footer.background1 %}
                                <div class="footerImagen" style="background-size: 100% auto; background-repeat: no-repeat; width: 100px; height:100px; background-image: url('{{footer.background1}}'); background-position: top center;"></div>
                            {% endif %}
                            {% if footer.link1 %}
                                </a>
                            {% endif %}
                        </td>
                        {% if footer.texto2 %}
                        <td class="columnaFooter" style="background-color: #{{footer.colorHr}};"></td>
                        {% endif %}
                        <td valign="top">
                            {% if footer.texto2 %}
                            <div class="footerTexto" style="color:{{footer.colorFuente}}">{{footer.texto2|nl2br}}</div>
                            {% endif %}
                            {% if footer.link2 %}
                                <a href="{{footer.link2}}" target="_blank">
                            {% endif %}
                            {% if footer.background2 %}
                                <div class="footerImagen" style="background-size: 100% auto; background-repeat: no-repeat; width: 100px; height:100px; background-image: url('{{footer.background2}}'); background-position: top center;"></div>
                            {% endif %}
                            {% if footer.link2 %}
                                </a>
                            {% endif %}
                        </td>
                        {% if footer.texto3 %}
                        <td class="columnaFooter" style="background-color: #{{footer.colorHr}};"></td>
                        {% endif %}
                        <td valign="top">
                            {% if footer.texto3 %}
                            <div class="footerTexto" style="color:{{footer.colorFuente}}">{{footer.texto3|nl2br}}</div>
                            {% endif %}
                            {% if footer.link3 %}
                                <a href="{{footer.link3}}" target="_blank">
                            {% endif %}
                            {% if footer.background3 %}
                                <div class="footerImagen" style="background-size: 100% auto; background-repeat: no-repeat; width: 100px; height:100px; background-image: url('{{footer.background3}}'); background-position: top center;"></div>
                            {% endif %}
                            {% if footer.link3 %}
                                </a>
                            {% endif %}
                        </td>   
                        {% if footer.newsletter %}
                        <td class="columnaFooter" style="background-color: #{{footer.colorHr}};"></td>    
                        {% endif %}
                        <td valign="top">
                            {% if footer.newsletter %}
                                <div class="footerNewsletter">
                                <form method="post" action="./index.php?seccion=newsletter">
                                <div style="color:{{footer.colorFuente}}">Suscribite al Newsletter !<br><br></div>
                                <div><input size="20" type="text" name="email"></div>
                                <input id="newsletterSubmit" type="submit" value="Suscribirme">
                                </form>
                                </div>
                            {% endif %}
                        </td>                                                
                    </tr>                                  
                    </table>


                {% endblock %}


    </body>
</html>