<link href="./css/carousel.css" rel="stylesheet">

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  {% for image in images %}
    <li data-target="#myCarousel" data-slide-to="{{image.number}}" class="{{image.active}}"></li>
  {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
  {% for image in images %}  
    <div class="item {{image.active}}">
      <img src="{{image.url}}" alt="Slide {{image.number}}">
    </div>
  {% endfor %}
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div><!-- /.carousel -->