{% extends "administrar.html" %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="css/general.css" />
{% endblock %}

{% block contenido %}
	{{ parent() }}

	<div class="formulario">
		<form method="post" action="./index.php?seccion=general" method="post" enctype="multipart/form-data">
			<table id="gestionarCategoria" class="tablaFormulario">
			<tr>
				<td>
					Fondo General (.png)
				</td>
				<td>
					<input type="file" name="background">
				</td>
			</tr>
			<tr>
				<td>
					Fondo del Banner (.png)
				</td>
				<td>
					<input type="file" name="banner">
				</td>
			</tr>
			<tr>
				<td>
					Logo (120x40 / .png)
				</td>
				<td>
					<input type="file" name="logo">
				</td>
			</tr>	
			<tr>
				<td>
					Posicion Logo
				</td>
				<td>
					<select name="float_logo">
						{% if general.float_logo == "left" %}
							<option selected value="left">Izquierda</option>
							<option value="right">Derecha</option>
						{% else %}
							<option value="left">Izquierda</option>
							<option selected value="right">Derecha</option>						
						{% endif %}
					</select>
				</td>
			</tr>							
			<tr>
				<td>
					Color Fuente Banner Ej: 000000
				</td>
				<td>
					<input type="text" name="color_fuente_banner" value="{{general.color_fuente_banner}}">
				</td>
			</tr>	
			<tr>
				<td>
					Color HR Ej: FF6600
				</td>
				<td>
					<input type="text" name="colorHr" value="{{general.colorHr}}">
				</td>
			</tr>
			<tr>
				<td>
					Color PDF Ej: FFFFFF
				</td>
				<td>
					<input type="text" name="colorPDF" value="{{general.colorPDF}}">
				</td>
			</tr>			
			<tr>
				<td>
					Color Boton Hover Ej: 0,0,0,0.1
				</td>
				<td>
					<input type="text" name="colorBotonHover" value="{{general.colorBotonHover}}">
				</td>
			</tr>
			<tr>
				<td>
					Facebook
				</td>
				<td>
					<input type="text" name="facebook" value="{{general.facebook}}">
				</td>
			</tr>									
			<tr>
				<td>
					Twitter
				</td>
				<td>
					<input type="text" name="twitter" value="{{general.twitter}}">
				</td>
			</tr>			
			<tr>
				<td>
					Youtube
				</td>
				<td>
					<input type="text" name="youtube" value="{{general.youtube}}">
				</td>
			</tr>
			<tr>
				<td>
					Font Face
				</td>
				<td>
					<select name="fontFace">
					{% if general.fontFace == 'sansation_light.woff' %}
						<option selected value="sansation_light.woff">sansation_light.woff</option>
					{% else %}
						<option value="sansation_light.woff">sansation_light.woff</option>
					{% endif %}

					{% if general.fontFace == 'Antenna-ExtraLight.otf' %}
						<option selected value="Antenna-ExtraLight.otf">Antenna-ExtraLight.otf</option>
					{% else %}
						<option value="Antenna-ExtraLight.otf">Antenna-ExtraLight.otf</option>
					{% endif %}

					{% if general.fontFace == 'helvetica.ttf' %}
						<option selected value="helvetica.ttf">helvetica.ttf</option>
					{% else %}
						<option value="helvetica.ttf">helvetica.ttf</option>
					{% endif %}											
						
					{% if general.fontFace == 'SERIFAT_1.TTF' %}
						<option selected value="SERIFAT_1.TTF">SERIFAT_1.TTF</option>
					{% else %}
						<option value="SERIFAT_1.TTF">SERIFAT_1.TTF</option>
					{% endif %}						

					{% if general.fontFace == 'TrajanPro-Regular_1.otf' %}
						<option selected value="TrajanPro-Regular_1.otf">TrajanPro-Regular_1.otf</option>
					{% else %}
						<option value="TrajanPro-Regular_1.otf">TrajanPro-Regular_1.otf</option>
					{% endif %}						

						
						SERIFAT_1.ttf
						TrajanPro-Regular_1.otf
					

					</select>
				</td>
			</tr>
			<tr>
				<td>
					Color Sub Menu Ej: 255,100,0,0.7
				</td>
				<td>
					<input type="text" name="colorSubMenu" value="{{general.colorSubMenu}}">
				</td>
			</tr>																																
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="GUARDAR">
				</td>
			</tr>
			</table>
		</form>
	</div>
{% endblock %}	