{% extends "administrar.html" %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="css/categoria.css" />
	<script src="./js/nueva_categoria.js"></script>
{% endblock %}

{% block contenido %}
	{{ parent() }}

{% if categoria %}
<div class="formulario">
	<form method="post" action="./index.php?seccion=gestionar_categorias&amp;gestionar_categoria={{categoria.id}}&amp;actualizar_nombreYpadre=1" method="post">
		<table class="tablaFormulario accion" onclick="openClose('gestionarCategoria');">
		<tr>
		<td colspan="2">
			<h3>GESTIONAR CATEGORIA</h3>
		</td>
		</tr>
		</table>
		<table id="gestionarCategoria" class="tablaFormulario oculto">
		<tr>
			<td>
				NOMBRE DE LA CATEGORIA
			</td>
			<td>
				<input type="text" name="nombre" placeholder="Nombre de la categoria" value="{{categoria.nombre}}">
			</td>
		</tr>
		<tr>
			<td>
				CATEGORIA PADRE
			</td>
			<td>
				<select name="padre">
					<option value="">SIN PADRE</option>
					{% for padre in padresPrincipales %}
						{% if padre.id != categoria.id %}
							{% if padre.id == categoria.padre %}
								<option selected value="{{padre.id}}">
							{% else %}
								<option value="{{padre.id}}">
							{% endif %}
							{{ padre.camino }}
							{% if padre.camino %}
								->
							{% endif %}
						{% endif %}							
						{{padre.nombre}}
						</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>
				COLOR FONDO Ej: 0,0,0,0.7 
			</td>
			<td>
				<input type="text" name="rgb" value="{{categoria.rgb}}" size="10">
			</td>
		</tr>		
		<tr>
			<td>
				ORDEN Ej: 7
			</td>
			<td>
				<input type="text" name="orden" value="{{categoria.orden}}" size="1">
			</td>
		</tr>	
		<tr>
			<td>
				Formulario de Contacto
			</td>
			<td>
				<input type="text" name="contacto" value="{{categoria.contacto}}">
			</td>
		</tr>						
		<tr>
			<td align="center">
				<input type="submit" value="EDITAR CATEGORIA">
			</td>
			<td align="center">
				<a href="./index.php?seccion=gestionar_categorias&amp;gestionar_categoria={{categoria.id}}&amp;eliminarCategoria=true"><span class="glyphicon glyphicon-trash eliminar" aria-hidden="true"></span></a>
			</td>			
		</tr>
		</table>
	</form>
</div>

{%if categoria.orden != 0 %}
<div class="formulario">
	<form method="post" action="./index.php?seccion=gestionar_categorias&amp;gestionar_categoria={{categoria.id}}&amp;agregarModulo=true" enctype="multipart/form-data">
	<table class="tablaFormulario accion" onclick="openClose('agregarModulo');">
	<tr>
		<td>
			<h3>AGREGAR MODULO</h3>
		</td>
	</tr>
	</table>
	<table id="agregarModulo" class="tablaFormulario oculto">	
	<tr>
		<td>
			TITULO
		</td>
		<td>
			<input type="text" name="titulo" value="">
		</td>
	</tr>
	<tr>
		<td>
			ORDEN DEL MODULO
		</td>
		<td>
			<input type="number" min="0" name="orden">
		</td>
	</tr>				
	<tr>
		<td>
			COLOR HR
		</td>
		<td>
			<input type="text" name="colorHr">
		</td>
	</tr>					
	<tr>
		<td valign="top">
			TEXTO (opcional)
		</td>
		<td>
			<textarea cols="40" rows="10" name="texto"></textarea>
		</td>
	</tr>
	<tr>
		<td>
			ALINEACION DEL TEXTO
		</td>
		<td>
			<select name="alineacion">
				<option value="left">Izquierda</option>
				<option value="center">Centrado</option>
				<option value="right">Derecha</option>
			</select>
		</td>
	</tr>	
	<tr>
		<td>
			ANCHO DEL TEXTO
		</td>
		<td>
			<input type="number" name="anchoTexto" value="" max="100" min="1">%
		</td>
	</tr>		
	<tr>
		<td>
			IMAGEN (opcional)
		</td>
		<td>
			<input type="file" name="imagen">
		</td>
	</tr>
	<tr>
		<td>
			ANCHO DE LA IMAGEN
		</td>
		<td>
			<input type="number" name="anchoImagen" value="" max="100" min="1">%
		</td>
	</tr>					
	<tr>
		<td>
			ALTO DE LA IMAGEN
		</td>
		<td>
			<input type="number" name="altoImagen" value="" max="100" min="1">%
		</td>
	</tr>						
	<tr>
		<td>
			VIDEO (opcional)
		</td>
		<td>
			<input type="text" name="video">
		</td>
	</tr>	
	<tr>
		<td>
			ANCHO DEL VIDEO
		</td>
		<td>
			<input type="number" name="anchoVideo" value="" max="100" min="1">%
		</td>
	</tr>	
	<tr>
		<td>
			ALTO DEL VIDEO
		</td>
		<td>
			<input type="number" name="altoVideo" value="" max="100" min="1">%
		</td>
	</tr>						
	<tr>
		<td colspan="2">
			<input type="submit" value="AGREGAR MODULO">
		</td>
	</tr>			
	</table>
	</form>
</div>




<div class="formulario">
	<form method="post" action="./index.php?seccion=gestionar_categorias&amp;gestionar_categoria={{categoria.id}}&amp;agregarGaleria=true" enctype="multipart/form-data">
	<table class="tablaFormulario accion" onclick="openClose('agregarGaleria');">
	<tr>
		<td>
			<h3>AGREGAR GALERIA</h3>
		</td>
	</tr>
	</table>
	<table id="agregarGaleria" class="tablaFormulario oculto">	
	<tr>
		<td>
			ORDEN DE LA GALERIA
		</td>
		<td>
			<input type="number" min="0" name="orden">
		</td>
	</tr>				
	<tr>
		<td>
			IMAGENES
		</td>
		<td>
			<input type="file" name="imagenes[]" multiple="multiple">
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" value="AGREGAR IMAGENES">
		</td>
	</tr>			
	</table>
	</form>
</div>





<div class="formulario">
	<table class="tablaFormulario accion" onclick="openClose('gestionarPDF');">
	<tr>
		<td>
			<h3>GESTIONAR PDF</h3>
		</td>
	</tr>
	</table>

<div id="gestionarPDF" class="oculto"> 
<hr>
		<div class="formulario">
			<form method="post" action="./index.php?seccion=gestionar_categorias&amp;gestionar_categoria={{categoria.id}}&amp;editarPDF={{categoria.id}}" enctype="multipart/form-data">
			<table id="agregarGaleria" class="tablaFormulario">	
			<tr>
				<td>
					Nuevo/s PDF
				</td>
				<td>
					<input type="file" name="pdfs[]" multiple="multiple">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="AGREGAR LO/s PDF">
				</td>
			</tr>		
			</table>
			</form>
			<table id="agregarPDF2" class="tablaFormulario">	
			<tr>
				<td colspan="2">
					{% for pdf in categoria.pdfs %}
					<div class="continuo">
						<div class="continuo">
						<a href="{{pdf.pdf}}">{{pdf.nombre}}</a>
						</div>
						<a href="./index.php?seccion=gestionar_categorias&amp;gestionar_categoria={{categoria.id}}&amp;eliminarPDF={{pdf.pdf}}"><span class="glyphicon glyphicon-trash eliminar" aria-hidden="true"></span></a>
					</div>
					{% endfor %}
				</td>
			</tr>	
			</table>
		</div>
</div>

</div>






{% else %}
<div>Seteando el ORDEN en 0 activa la edicion de la categoria para ser pagina principal</div>
{% endif %}














{% if modulos %}
<div class="formulario">
	<table class="tablaFormulario accion" onclick="openClose('gestionarModulos');">
	<tr>
		<td>
			<h3>GESTIONAR MODULOS</h3>
		</td>
	</tr>
	</table>
{% endif %}

<div id="gestionarModulos" class="oculto">
{% for modulo in modulos %}
<hr>

	{% if modulo.alineacion %}
		<form method="post" action="./index.php?seccion=gestionar_categorias&amp;gestionar_categoria={{categoria.id}}&amp;editarModulo={{modulo.id}}" enctype="multipart/form-data">
		<table  class="tablaFormulario">	
		<tr>
			<td>
				TITULO
			</td>
			<td>
				<input type="text" name="titulo" value="{{modulo.titulo}}">
			</td>
		</tr>
		<tr>
			<td>
				ORDEN DEL MODULO
			</td>
			<td>
				<input type="number" min="0" name="orden" value="{{modulo.orden}}">
			</td>
		</tr>	
		<tr>
			<td>
				COLOR HR
			</td>
			<td>
				<input type="text" name="colorHr" value="{{modulo.colorHr}}">
			</td>
		</tr>							
		<tr>
			<td valign="top">
				TEXTO (opcional)
			</td>
			<td>
				<textarea cols="40" rows="10" name="texto">{{modulo.texto}}</textarea>
			</td>
		</tr>
		<tr>
			<td>
				ALINEACION DEL TEXTO
			</td>
			<td>
				<select name="alineacion">
					{% if modulo.alineacion == "left" %}
						<option selected value="left">Izquierda</option>
						<option value="center">Centrado</option>
						<option value="right">Derecha</option>
					{% endif %}
					{% if modulo.alineacion == "center" %}
						<option value="left">Izquierda</option>
						<option selected value="center">Centrado</option>
						<option value="right">Derecha</option>						
					{% endif %}
					{% if modulo.alineacion == "right" %}
						<option value="left">Izquierda</option>
						<option value="center">Centrado</option>
						<option selected value="right">Derecha</option>						
					{% endif %}									
				</select>
			</td>
		</tr>		
		<tr>
			<td>
				ANCHO DEL TEXTO
			</td>
			<td>
				<input type="number" name="anchoTexto" value="{{modulo.anchoTexto}}" max="100" min="1">%
			</td>
		</tr>		
		<tr>
			<td>
				IMAGEN (opcional)
			</td>
			<td>
				<input type="file" name="imagen">
			</td>
		</tr>
		<tr>
			<td colspan="2" style="height:300px">
				<div style="background-size: 100% auto; background-repeat: no-repeat; width: 100%; height:100%; background-image: url('{{modulo.imagen}}');	background-position: center;"></div>			
			</td>
		</tr>
		<tr>
			<td>
				ANCHO DE LA IMAGEN
			</td>
			<td>
				<input type="number" name="anchoImagen" value="{{modulo.anchoImagen}}" max="100" min="1">%
			</td>
		</tr>					
		<tr>
			<td>
				ALTO DE LA IMAGEN
			</td>
			<td>
				<input type="number" name="altoImagen" value="{{modulo.altoImagen}}" max="100" min="1">%
			</td>
		</tr>						
		<tr>
			<td>
				VIDEO (opcional)
			</td>
			<td>
				<input type="text" name="video" value="{{modulo.video}}">
			</td>
		</tr>	
		<tr>
			<td>
				ANCHO DEL VIDEO
			</td>
			<td>
				<input type="number" name="anchoVideo" value="{{modulo.anchoVideo}}" max="100" min="1">%
			</td>
		</tr>	
		<tr>
			<td>
				ALTO DEL VIDEO
			</td>
			<td>
				<input type="number" name="altoVideo" value="{{modulo.altoVideo}}" max="100" min="1">%
			</td>
		</tr>						
		<tr>
			<td colspan="2">
				<input type="submit" value="EDITAR MODULO">
			</td>
		</tr>			
		<tr>
			<td colspan="2" align="center">
				<a href="./index.php?seccion=gestionar_categorias&amp;gestionar_categoria={{categoria.id}}&amp;eliminarModulo={{modulo.id}}"><span class="glyphicon glyphicon-trash eliminar" aria-hidden="true"></span></a>
			</td>
		</tr>					
		</table>
		</form>
	{% else %}
		<div class="formulario">
			<form method="post" action="./index.php?seccion=gestionar_categorias&amp;gestionar_categoria={{categoria.id}}&amp;editarGaleria={{modulo.id}}" enctype="multipart/form-data">
			<table id="agregarGaleria" class="tablaFormulario">	
			<tr>
				<td>
					ORDEN DE LA GALERIA
				</td>
				<td>
					<input type="number" min="0" name="orden" value="{{modulo.orden}}">
				</td>
			</tr>				
			<tr>
				<td>
					IMAGENES
				</td>
				<td>
					<input type="file" name="imagenes[]" multiple="multiple">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="AGREGAR IMAGENES">
				</td>
			</tr>		
			</table>
			</form>
			<table id="agregarGaleria2" class="tablaFormulario">	
			<tr>
				<td colspan="2">
					{% for imagen in modulo.imagenes %}
					<form method="post" action="./index.php?seccion=gestionar_categorias&amp;gestionar_categoria={{categoria.id}}&amp;editarImagenGaleria={{modulo.id}}&amp;imagen={{imagen.image}}">
					<div class="continuo">
						<div class="continuo galeria"><a href="{{imagen.image}}" data-lightbox="galeria{{modulo.categoria}}" data-title="Galeria">
							<div style="background-size: 100% auto; background-repeat: no-repeat; width: 100px; height:100px; background-image: url('{{imagen.image}}');	background-position: center;"></div>	
						</a></div>
						<div class="continuo edicion">
							<div>
								<div class="queEdito continuo">Titulo: </div><input type="text" name="titulo" value="{{imagen.imagen.titulo}}">
							</div>
							<div>
								<div class="queEdito continuo">Descripcion: </div><input type="text" name="descripcion" value="{{imagen.imagen.descripcion}}">
							</div>
							<div>
								<div class="queEdito continuo">R: </div><input type="text" name="red" value="{{imagen.imagen.red}}">
							</div>
							<div>
								<div class="queEdito continuo">G: </div><input type="text" name="green" value="{{imagen.imagen.green}}">
							</div>
							<div>
								<div class="queEdito continuo">B: </div><input type="text" name="blue" value="{{imagen.imagen.blue}}">
							</div>
							<div>
								<input type="submit" value="Guardar cambios">
								<a href="./index.php?seccion=gestionar_categorias&amp;gestionar_categoria={{categoria.id}}&amp;eliminarImagenGaleria={{modulo.id}}&amp;imagen={{imagen.image}}"><span class="glyphicon glyphicon-trash eliminar" aria-hidden="true"></span></a>								
							</div>
						</div>
					</div>
					</form>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<a href="./index.php?seccion=gestionar_categorias&amp;gestionar_categoria={{categoria.id}}&amp;eliminarModulo={{modulo.id}}"><span class="glyphicon glyphicon-trash eliminar" aria-hidden="true"></span></a>
				</td>
			</tr>		
			</table>
		</div>

		
	{% endif %}
{% endfor %}
</div>
</div>
{% else %}
<form method="get" action="./index.php?seccion=gestionar_categorias" >
<input type="text" name="seccion" value="gestionar_categorias" class="oculto">
<select name="gestionar_categoria">
	{% for padre in padres %}
		<option value="{{padre.id}}">{{ padre.camino }}
		{% if padre.camino %}
			->
		{% endif %}
		{{padre.nombre}}
		</option>
	{% endfor %}	
</select>
<input type="submit" value="GESTIONAR">
</form>
{% endif %}



{% endblock %}	