{% extends "base.html" %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="css/modulos.css" />
{% endblock %}

{% block title %}
	INICIO
{% endblock %}

{% block contenido %}

{{ include('carousel.html') }}

{% if categoria.pdfs %}
<div id="files" style="background-color:#{{general.colorHr}}">
	{% for pdf in categoria.pdfs %}
		<div class="file">
			<div class="fileImage"><a href="{{pdf.pdf}}"><img src="./images/pdf.png" width="40px" height="50px"></a></div>
			<div class="fileNombre">{{pdf.nombre}}</div>
		</div>
	{% endfor %}
</div>
{% endif %}

<div id="contenedor" style="background-color: rgba({{categoria.rgb}});">
	{% for modulo in modulos %}
		<div class="modulo">
		{% if modulo.alineacion %}
			<div id="bloque1">{{modulo.titulo}}</div>
			<div id="bloque2" style="width:{{modulo.anchoTexto}}%; float:{{modulo.alineacion}}" class="bloque-fix-{{modulo.alineacion}}">{{modulo.texto|nl2br}}</div>
			{% if modulo.imagen %}
			<a href="{{modulo.imagen}}" data-lightbox="galeria{{modulo.imagen}}" data-title="Imagen">
				<div id="bloque3" style="background-size: 100% auto; background-repeat: no-repeat; width: {{modulo.anchoImagen}}%; height:{{modulo.altoImagen}}%; background-image: url('{{modulo.imagen}}'); background-position: top center;"></div>
			</a>
			{% endif %}					
			{% if modulo.video %}
			<div id="bloque4" style="width:{{modulo.anchoVideo}}%; height:{{modulo.altoVideo}}%">
				<iframe width="100%" height="100%" src="{{modulo.video}}" frameborder="0" allowfullscreen></iframe>
				</div>
			{% endif %}
		{% else %}
			{% for imagen in modulo.imagenes %}
			<div class="galeria"><a href="{{imagen.image}}" data-lightbox="galeria{{modulo.categoria}}" data-title="{{imagen.imagen.titulo}} {{imagen.imagen.descripcion}}">


				<div class="galeria-imagen" style="background-image: url('{{imagen.image}}');">
					<div class="galeria-imagenHover" style="background-color: rgba({{imagen.imagen.red}},{{imagen.imagen.green}},{{imagen.imagen.blue}},0.6)!important;">
					<div class="titulo">{{imagen.imagen.titulo}}</div>
					<div class="descripcion">{{imagen.imagen.descripcion}}</div>
					</div>
				</div>	
			</a></div>
			{% endfor %}
		{% endif %}
		</div>
		<div class="hr" style="background-color: #{{modulo.colorHr}};"></div>
	{% endfor %}
</div>
{% endblock %}
