{% extends "base.html" %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="css/modulos.css" />
	<script type="text/javascript" src="js/contacto.js"></script>  
{% endblock %}

{% block title %}
	INICIO
{% endblock %}

{% block contenido %}

{% if images %}
	{{ include('carousel.html') }}
{% endif %}

{% if categoria.pdfs %}
<div id="subTitulo"><font color="#{{general.colorPDF}}">{{categoria.nombre}}</font></div>
<div id="files" style="background-color:#{{general.colorHr}}">
	<div id="filesContainer">
	{% for pdf in categoria.pdfs %}
		<div class="file">
			<div class="fileImage continuo"><a href="{{pdf.pdf}}"><img src="./images/pdf.png" width="40px" height="50px"></a></div>
			<div class="fileNombre continuo"><font color="#{{general.colorPDF}}">{{pdf.nombre}}</font></div>
		</div>
	{% endfor %}
	</div>
</div>
<div id="filesFix"></div>
{% endif %}


<div id="contenedor" style="background-color: rgba({{categoria.rgb}});">

{% if categoria.contacto %}
	<style>
	.modulo{
		width: 45%;
	}
	</style>
	<div id="contactoOK" class="oculto">Gracias por completar nuestro formulario de contacto ... a la brevedad contestaremos su consulta.</div>
	<form id="contacto" method="post" action="./contacto.php?categoria={{categoria.id}}">
	<div>Nombre y Apellido:</div><div><input size="35" type="text" name="apellido" required></div>
	<div>Empresa:</div><div><input type="text" name="empresa" size="35"></div>
	<div>E-mail: </div><div><input type="text" name="email" size="35"></div>
	<div>Ciudad:</div><div><input type="text" name="ciudad" size="35"></div>
	<div>Pais:</div><div><input type="text" name="pais" size="35"></div>
	<div>Telefono:</div><div><input type="text" name="telefono" size="35"></div>
	<div>Comentarios: </div><div><textarea name="comentarios" cols="33" rows="3"></textarea></div>
	<div><br></div>
	<input type="submit" value="ENVIAR">
	<div id="contactoERROR" class="oculto">Error al enviar el mensaje ! Reintentar . . .</div>
	</form>
{% endif %}

	{% for modulo in modulos %}
		<div class="modulo">
		{% if modulo.alineacion %}
			<div id="bloque1">{{modulo.titulo}}</div>
			<div id="bloque2" style="width:{{modulo.anchoTexto}}%; float:{{modulo.alineacion}}" class="bloque-fix-{{modulo.alineacion}}">{{modulo.texto|nl2br}}</div>
			{% if modulo.imagen %}
			<a href="{{modulo.imagen}}" data-lightbox="galeria{{modulo.imagen}}" data-title="Imagen">
				<div id="bloque3" style="background-size: 100% auto; background-repeat: no-repeat; width: {{modulo.anchoImagen}}%; height:{{modulo.altoImagen}}%; background-image: url('{{modulo.imagen}}'); background-position: top center;"></div>
			</a>
			{% endif %}					
			{% if modulo.video %}
			<div id="bloque4" style="width:{{modulo.anchoVideo}}%; height:{{modulo.altoVideo}}%">
				<iframe width="100%" height="100%" src="{{modulo.video}}" frameborder="0" allowfullscreen></iframe>
				</div>
			{% endif %}
		{% else %}
			{% if modulo.imagenes %}
			<div class="fixGaleria"></div>
			{% endif %}
			{% for imagen in modulo.imagenes %}
			<div class="galeria"><a href="{{imagen.image}}" data-lightbox="galeria{{modulo.categoria}}" data-title="{{imagen.imagen.titulo}} {{imagen.imagen.descripcion}}">


				<div class="galeria-imagen" style="background-image: url('{{imagen.image}}');">
					<div class="galeria-imagenHover" style="background-color: rgba({{imagen.imagen.red}},{{imagen.imagen.green}},{{imagen.imagen.blue}},0.6)!important;">
					<div class="titulo">{{imagen.imagen.titulo}}</div>
					<div class="descripcion">{{imagen.imagen.descripcion}}</div>
					</div>
				</div>	
			</a></div>
			{% endfor %}
		{% endif %}
		</div>
		<div class="hr" style="background-color: #{{modulo.colorHr}};"></div>
	{% endfor %}
</div>

{% if categoria.pdfsfooter %}
<div id="filesFooter" style="background-color:#{{general.colorHr}}">
	<div id="filesContainer">
	{% for pdf in categoria.pdfsfooter %}
		<div class="file">
			<div class="fileImage continuo"><a href="{{pdf.pdf}}"><img src="./images/pdf.png" width="40px" height="50px"></a></div>
			<div class="fileNombre continuo"><font color="#{{general.colorPDF}}">{{pdf.nombre}}</font></div>
		</div>
	{% endfor %}
	</div>
</div>
{% endif %}

{% endblock %}
